<!-- templates/base.html -->

{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>greenwise.ai</title>
        <link rel ="icon" href="{% static 'favicon.png' %}" type="image/x-icon">

        {% bootstrap_css %}
        
    </head>

    <body style="background-color: #F1F0E4;">
        <main>
            {% block content %}{% endblock content %}
        </main>


        {% bootstrap_javascript %}
        
        <!-- Custom JavaScript block -->
        {% block page_script %}{% endblock page_script %}
    </body>
</html>